In [1]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md
import math

In [2]:
column_names=['column 1','column 2','column 3','column 4','column 5','column 6','column 7','column 8','column 9','column 10','column 11','column 12','column 13','column 14','column 15','column 16','column 17','column 18','column 19','column 20','column 21','column 22','column 23','column 24','column 25','column 26','column 27','column 28','column 29','column 30','column 31','column 32','column 33','column 34','column 35','column 36','column 37','column 38','column 39','column 40','column 41','column 42','column 43','column 44','column 45','column 46','column 47','column 48','column 49','column 50','column 51','column 52','column 53','column 54','column 55','column 56','column 57']
df=pd.read_excel(r'C:\Users\Jaber Shahnawaz\Downloads\Incomplete Datasets\Incomplete Datasets Without Labels\Spam\Spam_C_10.xlsx', header=None,names=column_names),
df

(      column 1  column 2  column 3  column 4  column 5  column 6  column 7  \
 0         0.00      0.64      0.64       0.0      0.32      0.00      0.00
 1         0.21      0.28      0.50       NaN      0.14      0.28       NaN
 2         0.00      0.00      0.00       0.0      0.63      0.00      0.31
 3         0.00      0.00      0.00       0.0      1.85      0.00      0.00
 4         0.00      0.00      0.00       0.0      1.92      0.00       NaN
 ...        ...       ...       ...       ...       ...       ...       ...
 4592      0.00      0.00      0.64       0.0      0.00      0.00      0.00
 4593       NaN      0.00      0.00       0.0      0.00      0.00      0.00
 4594      0.00      0.00      0.00       0.0       NaN      0.00      0.00
 4595      0.17      0.00      0.68       0.0      0.34      0.34      0.00
 4596      0.00      0.00      1.25       0.0      2.50       NaN      0.00

       column 8  column 9  column 10  ...  column 48  column 49  column 50  \
 0         0.00      0.00       0.00  ...        0.0        0.0      0.000
 1         0.07      0.00       0.94  ...        0.0        0.0      0.132
 2         0.63      0.31       0.63  ...        NaN        NaN      0.135
 3         1.85       NaN       0.00  ...        0.0        0.0      0.223
 4         0.00      0.00       0.64  ...        0.0        0.0      0.054
 ...        ...       ...        ...  ...        ...        ...        ...
 4592      0.00      0.00       0.00  ...        0.0        0.0      0.348
 4593      0.00       NaN       0.00  ...        0.0        0.0      0.000
 4594      0.00      0.00       0.00  ...        0.0        0.0        NaN
 4595       NaN       NaN        NaN  ...        0.0        0.0      0.032
 4596      0.00      0.00       0.00  ...        0.0        0.0        NaN

       column 51  column 52  column 53  column 54  column 55  column 56  \
 0           0.0      0.778      0.000      0.000      3.756       61.0
 1           NaN      0.372        NaN      0.048      5.114      101.0
 2           0.0      0.135      0.000      0.000      3.537       40.0
 3           NaN      0.000        NaN      0.000      3.000       15.0
 4           0.0      0.164      0.054      0.000      1.671        4.0
 ...         ...        ...        ...        ...        ...        ...
 4592        0.0      1.160      0.000      0.000        NaN       15.0
 4593        NaN      0.000      0.000      0.000      3.043       15.0
 4594        0.0      0.000      0.000      0.409        NaN       12.0
 4595        0.0      0.065      0.000      0.000      1.189        5.0
 4596        NaN      0.000      0.000      0.000      1.285        4.0

       column 57
 0         278.0
 1        1028.0
 2         191.0
 3          54.0
 4         112.0
 ...         ...
 4592      103.0
 4593       70.0
 4594       68.0
 4595       69.0
 4596       27.0

 [4597 rows x 57 columns],)

In [3]:
print('dataType',end='\t')
print('column_names',end='\t')
print('Number of Nulls')
for name in column_names:
    print(df[name].dtype,end='\t\t')
    print(name,end='\t')
    print(df[name].isnull().sum())

dataType	column_names	Number of Nulls

TypeError: tuple indices must be integers or slices, not str

In [ ]:
df.describe()

In [ ]:
df.boxplot(return_type='axes', figsize=(15,5))

In [ ]:
df.mean()

In [ ]:
corr=df.corr()
corr

In [ ]:
tf.compat.v1.reset_default_graph()
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [ ]:
imputer = md.Midas(layer_structure = [17,17+4,17+4+4,17+4+4+4,17+4+4,17+4,17], vae_layer = False, seed = 40)
imputer.build_model(df)
imputer.train_model(training_epochs=100)

In [ ]:
imputations=imputer.generate_samples(m=15).output_list
np.shape(imputations[-1])

In [ ]:
new_df=imputations[-1]
new_df.iloc[21,:]

In [ ]:
complete_df=pd.read_excel(r'C:\Users\Jaber Shahnawaz\Downloads\Original Datasets (1)\Original Datasets Without Labels\Spam.xlsx', header=None,names=column_names)

In [ ]:
new_df-complete_df

Calculating NRMSE Value

In [ ]:

def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

In [ ]:
def Frobenius_norm(number):
    num=number
    abs_val=num.abs()
    power_abs=abs_val**2
    sum1=power_abs.sum()
    total_sum=Sum_new(sum1)
    return(math.sqrt(total_sum))

In [ ]:
numerator=Frobenius_norm(new_df-complete_df)
numerator

In [ ]:
denominator=Frobenius_norm(complete_df)
denominator

In [ ]:
NRMS=numerator/denominator
NRMS

In [ ]:
new_df.iloc[66,:]

In [ ]:
imputations[-1]

In [ ]:
imputations[-1].to_excel("Spam_C_10(imp).xlsx", index=False, header=False)