In [1]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [2]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22','Column 23','Column 24','Column 25','Column 26','Column 27','Column 28','Column 29','Column 30','Column 31','Column 32','Column 33','Column 34','Column 35','Column 36','Column 37','Column 38','Column 39','Column 40','Column 41','Column 42']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\C4\C4_C_1.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 33,Column 34,Column 35,Column 36,Column 37,Column 38,Column 39,Column 40,Column 41,Column 42
0,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
1,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
2,b,NaN,b,b,b,b,o,b,b,b,...,b,b,b,b,b,b,b,b,b,b
3,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
4,o,b,b,b,b,b,b,b,b,b,...,NaN,b,b,b,b,b,b,b,b,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,x,x,b,b,b,b,o,x,o,b,...,b,b,b,b,o,o,x,b,b,b
67553,x,x,b,b,b,b,o,b,b,b,...,b,b,b,b,o,x,o,o,x,b
67554,x,x,b,b,b,b,o,o,b,b,...,b,b,b,b,o,x,x,o,b,b
67555,x,o,b,b,b,b,o,b,b,b,...,b,b,b,b,o,x,NaN,x,x,b
67556,x,o,o,o,x,b,o,b,b,b,...,b,b,b,b,x,b,b,b,b,b

In [3]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [4]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [5]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [6]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [7]:
categorical = ['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22','Column 23','Column 24','Column 25','Column 26','Column 27','Column 28','Column 29','Column 30','Column 31','Column 32','Column 33','Column 34','Column 35','Column 36','Column 37','Column 38','Column 39','Column 40','Column 41','Column 42']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [8]:
print(data_in.head())

   Column 1_b  Column 1_o  Column 1_x  Column 2_b  Column 2_o  Column 2_x  \
0         1.0         0.0         0.0         1.0         0.0         0.0
1         1.0         0.0         0.0         1.0         0.0         0.0
2         1.0         0.0         0.0         NaN         NaN         NaN
3         1.0         0.0         0.0         1.0         0.0         0.0
4         0.0         1.0         0.0         1.0         0.0         0.0

   Column 3_b  Column 3_o  Column 3_x  Column 4_b  ...  Column 39_x  \
0         1.0         0.0         0.0         1.0  ...          0.0
1         1.0         0.0         0.0         1.0  ...          0.0
2         1.0         0.0         0.0         1.0  ...          0.0
3         1.0         0.0         0.0         1.0  ...          0.0
4         1.0         0.0         0.0         1.0  ...          0.0

   Column 40_b  Column 40_o  Column 40_x  Column 41_b  Column 41_o  \
0          1.0          0.0          0.0          1.0          0.0
1          1.0          0.0          0.0          1.0          0.0
2          1.0          0.0          0.0          1.0          0.0
3          1.0          0.0          0.0          1.0          0.0
4          1.0          0.0          0.0          1.0          0.0

   Column 41_x  Column 42_b  Column 42_o  Column 42_x
0          0.0          1.0          0.0          0.0
1          0.0          1.0          0.0          0.0
2          0.0          1.0          0.0          0.0
3          0.0          1.0          0.0          0.0
4          0.0          1.0          0.0          0.0

[5 rows x 126 columns]

In [9]:
imputer = md.Midas(layer_structure = [42,42+8,42+8+8,42+8+8+8,42+8+8,42+8,42], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 21.87479209312609
Epoch: 1 , loss: 19.956190631492394
Epoch: 2 , loss: 19.794862881818126
Epoch: 3 , loss: 19.675204064257617
Epoch: 4 , loss: 19.198334548440606
Epoch: 5 , loss: 18.747117171294313
Epoch: 6 , loss: 18.603980825163074
Epoch: 7 , loss: 18.53182039798464
Epoch: 8 , loss: 18.472417253162668
Epoch: 9 , loss: 18.42693680013768
Epoch: 10 , loss: 18.41043260819197
Epoch: 11 , loss: 18.383964899307966
Epoch: 12 , loss: 18.362408197078587
Epoch: 13 , loss: 18.33600626958597
Epoch: 14 , loss: 18.312592783566053
Epoch: 15 , loss: 18.278102126860155
Epoch: 16 , loss: 18.226959010539378
Epoch: 17 , loss: 18.15331713411267
Epoch: 18 , loss: 18.088558841463175
Epoch: 19 , loss: 18.04717393714294
Epoch: 20 , loss: 18.02938243033817
Epoch: 21 , loss: 18.000023223392663
Epoch: 22 , loss: 17.996034616997093
Epoch: 23 , loss: 17.963539682141644
Epoch: 24 , loss: 17.9546941086784
Epoch: 25 , loss: 17.934886302161928
Epoch: 26 , loss: 17.938690324238497
Epoch: 27 , loss: 17.913795269026906
Epoch: 28 , loss: 17.90908402845454
Epoch: 29 , loss: 17.90889440199483
Epoch: 30 , loss: 17.902961179127008
Epoch: 31 , loss: 17.920801467208825
Epoch: 32 , loss: 17.892958033881104
Epoch: 33 , loss: 17.890455709707673
Epoch: 34 , loss: 17.86662935860515
Epoch: 35 , loss: 17.867111661658928
Epoch: 36 , loss: 17.867160639001657
Epoch: 37 , loss: 17.85239281624993
Epoch: 38 , loss: 17.832884747176756
Epoch: 39 , loss: 17.82177999402493
Epoch: 40 , loss: 17.815396308898926
Epoch: 41 , loss: 17.810184340294025
Epoch: 42 , loss: 17.791278218161377
Epoch: 43 , loss: 17.781143370537553
Epoch: 44 , loss: 17.803256012714627
Epoch: 45 , loss: 17.777791324355263
Epoch: 46 , loss: 17.605327423236652
Epoch: 47 , loss: 17.426970245373976
Epoch: 48 , loss: 17.336803868165912
Epoch: 49 , loss: 17.267871761367196
Epoch: 50 , loss: 17.215135716194794
Epoch: 51 , loss: 17.193168165332498
Epoch: 52 , loss: 17.15849614741959
Epoch: 53 , loss: 17.137623500959503
Epoch: 54 , loss: 17.12767178229617
Epoch: 55 , loss: 17.114057949740193
Epoch: 56 , loss: 17.115818075182766
Epoch: 57 , loss: 17.096363650628707
Epoch: 58 , loss: 17.078820526966943
Epoch: 59 , loss: 17.082791738632107
Epoch: 60 , loss: 17.077081513596845
Epoch: 61 , loss: 17.06725786173869
Epoch: 62 , loss: 17.05429481093435
Epoch: 63 , loss: 17.07567057141982
Epoch: 64 , loss: 17.06760219779979
Epoch: 65 , loss: 17.044334111423755
Epoch: 66 , loss: 17.04636959869226
Epoch: 67 , loss: 17.03088603568608
Epoch: 68 , loss: 17.036237405409242
Epoch: 69 , loss: 17.027147357467225
Epoch: 70 , loss: 17.019480850729316
Epoch: 71 , loss: 17.031557130339245
Epoch: 72 , loss: 17.014738831684973
Epoch: 73 , loss: 17.011805143812605
Epoch: 74 , loss: 17.017370830944284
Epoch: 75 , loss: 17.01458077518819
Epoch: 76 , loss: 17.010388572653117
Epoch: 77 , loss: 16.999688564799285
Epoch: 78 , loss: 17.00127070913491
Epoch: 79 , loss: 16.99975077680139
Epoch: 80 , loss: 16.99238909233921
Epoch: 81 , loss: 16.991893213092293
Epoch: 82 , loss: 17.00445045627502
Epoch: 83 , loss: 16.992167752933184
Epoch: 84 , loss: 16.97377566871119
Epoch: 85 , loss: 16.97863683086162
Epoch: 86 , loss: 16.977303259861745
Epoch: 87 , loss: 16.985982671725925
Epoch: 88 , loss: 16.962305257355414
Epoch: 89 , loss: 16.973882707020277
Epoch: 90 , loss: 16.971623857797237
Epoch: 91 , loss: 16.971737116448182
Epoch: 92 , loss: 16.940616035054838
Epoch: 93 , loss: 16.977436556289796
Epoch: 94 , loss: 16.98362405308046
Epoch: 95 , loss: 16.959779756546926
Epoch: 96 , loss: 16.967099245325304
Epoch: 97 , loss: 16.955190114193424
Epoch: 98 , loss: 16.966075845038027
Epoch: 99 , loss: 16.93534483948007
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [10]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [11]:
np.shape(imputations[-1])

(67557, 126)

In [12]:
new_df=imputations[-1]

In [13]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\C4.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 33,Column 34,Column 35,Column 36,Column 37,Column 38,Column 39,Column 40,Column 41,Column 42
0,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
1,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
2,b,b,b,b,b,b,o,b,b,b,...,b,b,b,b,b,b,b,b,b,b
3,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
4,o,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,x,x,b,b,b,b,o,x,o,b,...,b,b,b,b,o,o,x,b,b,b
67553,x,x,b,b,b,b,o,b,b,b,...,b,b,b,b,o,x,o,o,x,b
67554,x,x,b,b,b,b,o,o,b,b,...,b,b,b,b,o,x,x,o,b,b
67555,x,o,b,b,b,b,o,b,b,b,...,b,b,b,b,o,x,o,x,x,b
67556,x,o,o,o,x,b,o,b,b,b,...,b,b,b,b,x,b,b,b,b,b

In [14]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [15]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22', 'Column 23', 'Column 24', 'Column 25', 'Column 26',
       'Column 27', 'Column 28', 'Column 29', 'Column 30', 'Column 31',
       'Column 32', 'Column 33', 'Column 34', 'Column 35', 'Column 36',
       'Column 37', 'Column 38', 'Column 39', 'Column 40', 'Column 41',
       'Column 42'],
      dtype='object')

In [16]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 33,Column 34,Column 35,Column 36,Column 37,Column 38,Column 39,Column 40,Column 41,Column 42
0,Column 1_b,Column 2_b,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_b,Column 8_b,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_b,Column 38_b,Column 39_b,Column 40_b,Column 41_b,Column 42_b
1,Column 1_b,Column 2_b,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_b,Column 8_b,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_b,Column 38_b,Column 39_b,Column 40_b,Column 41_b,Column 42_b
2,Column 1_b,Column 2_b,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_o,Column 8_b,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_b,Column 38_b,Column 39_b,Column 40_b,Column 41_b,Column 42_b
3,Column 1_b,Column 2_b,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_b,Column 8_b,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_b,Column 38_b,Column 39_b,Column 40_b,Column 41_b,Column 42_b
4,Column 1_o,Column 2_b,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_b,Column 8_b,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_b,Column 38_b,Column 39_b,Column 40_b,Column 41_b,Column 42_b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,Column 1_x,Column 2_x,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_o,Column 8_x,Column 9_o,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_o,Column 38_o,Column 39_x,Column 40_b,Column 41_b,Column 42_b
67553,Column 1_x,Column 2_x,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_o,Column 8_b,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_o,Column 38_x,Column 39_o,Column 40_o,Column 41_x,Column 42_b
67554,Column 1_x,Column 2_x,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_o,Column 8_o,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_o,Column 38_x,Column 39_x,Column 40_o,Column 41_b,Column 42_b
67555,Column 1_x,Column 2_o,Column 3_b,Column 4_b,Column 5_b,Column 6_b,Column 7_o,Column 8_b,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_o,Column 38_x,Column 39_b,Column 40_x,Column 41_x,Column 42_b
67556,Column 1_x,Column 2_o,Column 3_o,Column 4_o,Column 5_x,Column 6_b,Column 7_o,Column 8_b,Column 9_b,Column 10_b,...,Column 33_b,Column 34_b,Column 35_b,Column 36_b,Column 37_x,Column 38_b,Column 39_b,Column 40_b,Column 41_b,Column 42_b

In [17]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22', 'Column 23', 'Column 24', 'Column 25', 'Column 26',
       'Column 27', 'Column 28', 'Column 29', 'Column 30', 'Column 31',
       'Column 32', 'Column 33', 'Column 34', 'Column 35', 'Column 36',
       'Column 37', 'Column 38', 'Column 39', 'Column 40', 'Column 41',
       'Column 42'],
      dtype='object')

In [18]:
def replace_column_values(dataframe):
    
    for col_name in dataframe.columns:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [19]:
mod_df=replace_column_values(new_df)
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 33,Column 34,Column 35,Column 36,Column 37,Column 38,Column 39,Column 40,Column 41,Column 42
0,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
1,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
2,b,b,b,b,b,b,o,b,b,b,...,b,b,b,b,b,b,b,b,b,b
3,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
4,o,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,x,x,b,b,b,b,o,x,o,b,...,b,b,b,b,o,o,x,b,b,b
67553,x,x,b,b,b,b,o,b,b,b,...,b,b,b,b,o,x,o,o,x,b
67554,x,x,b,b,b,b,o,o,b,b,...,b,b,b,b,o,x,x,o,b,b
67555,x,o,b,b,b,b,o,b,b,b,...,b,b,b,b,o,x,b,x,x,b
67556,x,o,o,o,x,b,o,b,b,b,...,b,b,b,b,x,b,b,b,b,b

In [20]:
mod_df.dtypes

Column 1     object
Column 2     object
Column 3     object
Column 4     object
Column 5     object
Column 6     object
Column 7     object
Column 8     object
Column 9     object
Column 10    object
Column 11    object
Column 12    object
Column 13    object
Column 14    object
Column 15    object
Column 16    object
Column 17    object
Column 18    object
Column 19    object
Column 20    object
Column 21    object
Column 22    object
Column 23    object
Column 24    object
Column 25    object
Column 26    object
Column 27    object
Column 28    object
Column 29    object
Column 30    object
Column 31    object
Column 32    object
Column 33    object
Column 34    object
Column 35    object
Column 36    object
Column 37    object
Column 38    object
Column 39    object
Column 40    object
Column 41    object
Column 42    object
dtype: object

calculating AE

In [21]:
copy_est_df=mod_df.astype('string')

In [22]:
m=copy_est_df.astype('string')
m

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 33,Column 34,Column 35,Column 36,Column 37,Column 38,Column 39,Column 40,Column 41,Column 42
0,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
1,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
2,b,b,b,b,b,b,o,b,b,b,...,b,b,b,b,b,b,b,b,b,b
3,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
4,o,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,x,x,b,b,b,b,o,x,o,b,...,b,b,b,b,o,o,x,b,b,b
67553,x,x,b,b,b,b,o,b,b,b,...,b,b,b,b,o,x,o,o,x,b
67554,x,x,b,b,b,b,o,o,b,b,...,b,b,b,b,o,x,x,o,b,b
67555,x,o,b,b,b,b,o,b,b,b,...,b,b,b,b,o,x,b,x,x,b
67556,x,o,o,o,x,b,o,b,b,b,...,b,b,b,b,x,b,b,b,b,b

In [23]:
# I function
def I_function(copy_est_df,original_df):
    for col_name in copy_est_df.columns:
        #copy_est_df[col_name] = copy_est_df[col_name].astype('string')
        #original_df[col_name] = original_df[col_name].astype('string')
        est_data_list=copy_est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        copy_est_df[col_name]=est_data_list
    return(copy_est_df.astype('int64'))

In [24]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [25]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(copy_est_df,original_df)
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(67557*42)
    return(ae)

In [26]:
AE(copy_est_df,complete_df)

0.0017597133144004675

In [27]:
mod_df.to_excel("C4_C_1(imp).xlsx", index=False,header=False)