In [9]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [10]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\MUSH\MUSH_NG_20.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,NaN,NaN,o,p,k,NaN,NaN
1,NaN,s,y,t,a,f,c,b,k,e,...,s,w,NaN,NaN,w,o,NaN,n,n,g
2,b,s,w,t,NaN,f,c,NaN,NaN,NaN,...,s,w,w,p,w,NaN,p,n,n,m
3,x,NaN,w,t,p,f,c,n,n,e,...,s,w,NaN,p,w,NaN,p,k,NaN,u
4,NaN,s,g,f,n,f,NaN,b,NaN,t,...,s,w,w,p,w,NaN,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,NaN,NaN,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,NaN
5640,x,y,NaN,NaN,n,f,NaN,b,w,e,...,y,n,n,NaN,w,NaN,p,w,y,p
5641,NaN,NaN,NaN,t,n,f,c,b,w,e,...,s,w,w,p,w,NaN,p,w,y,p
5642,x,NaN,NaN,f,NaN,f,c,NaN,y,e,...,y,c,c,p,w,NaN,n,NaN,NaN,d
5643,f,y,c,f,NaN,a,c,b,y,NaN,...,NaN,c,NaN,p,w,n,n,w,c,d

In [11]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [12]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [13]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [14]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [15]:
categorical = ['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [16]:
print(data_in.head())

   Column 1_b  Column 1_c  Column 1_f  Column 1_k  Column 1_s  Column 1_x  \
0         0.0         0.0         0.0         0.0         0.0         1.0
1         NaN         NaN         NaN         NaN         NaN         NaN
2         1.0         0.0         0.0         0.0         0.0         0.0
3         0.0         0.0         0.0         0.0         0.0         1.0
4         NaN         NaN         NaN         NaN         NaN         NaN

   Column 2_f  Column 2_g  Column 2_s  Column 2_y  ...  Column 21_n  \
0         0.0         0.0         1.0         0.0  ...          NaN
1         0.0         0.0         1.0         0.0  ...          1.0
2         0.0         0.0         1.0         0.0  ...          1.0
3         NaN         NaN         NaN         NaN  ...          NaN
4         0.0         0.0         1.0         0.0  ...          0.0

   Column 21_s  Column 21_v  Column 21_y  Column 22_d  Column 22_g  \
0          NaN          NaN          NaN          NaN          NaN
1          0.0          0.0          0.0          0.0          1.0
2          0.0          0.0          0.0          0.0          0.0
3          NaN          NaN          NaN          0.0          0.0
4          0.0          0.0          0.0          0.0          1.0

   Column 22_l  Column 22_m  Column 22_p  Column 22_u
0          NaN          NaN          NaN          NaN
1          0.0          0.0          0.0          0.0
2          0.0          1.0          0.0          0.0
3          0.0          0.0          0.0          1.0
4          0.0          0.0          0.0          0.0

[5 rows x 98 columns]

In [17]:
imputer = md.Midas(layer_structure = [22,22+21,22+21+21,22+21+21+21,22+21+21,22+21,22], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 4, 8, 2, 7, 2, 2, 2, 9, 2, 4, 4, 4, 7, 7, 1, 2, 3, 4, 6, 6, 6]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 22.1307158741084
Epoch: 1 , loss: 17.141903026537463
Epoch: 2 , loss: 16.504008956930853
Epoch: 3 , loss: 16.210568344051186
Epoch: 4 , loss: 15.938569001176141
Epoch: 5 , loss: 15.814720373262059
Epoch: 6 , loss: 15.63909663124518
Epoch: 7 , loss: 15.624753133817153
Epoch: 8 , loss: 15.463280891830271
Epoch: 9 , loss: 15.368449587713588
Epoch: 10 , loss: 15.320762647823853
Epoch: 11 , loss: 15.180139782753857
Epoch: 12 , loss: 15.137564827095378
Epoch: 13 , loss: 15.038541262800043
Epoch: 14 , loss: 14.979645696553318
Epoch: 15 , loss: 14.921867595477538
Epoch: 16 , loss: 14.817529193379663
Epoch: 17 , loss: 14.739674218676306
Epoch: 18 , loss: 14.698380508206107
Epoch: 19 , loss: 14.679089752110569
Epoch: 20 , loss: 14.578114891594106
Epoch: 21 , loss: 14.518751856955616
Epoch: 22 , loss: 14.485153531486338
Epoch: 23 , loss: 14.396964065053247
Epoch: 24 , loss: 14.402958593585275
Epoch: 25 , loss: 14.335070937871933
Epoch: 26 , loss: 14.300518721342087
Epoch: 27 , loss: 14.278482101180337
Epoch: 28 , loss: 14.196920164606787
Epoch: 29 , loss: 14.109357709234411
Epoch: 30 , loss: 14.054877690293573
Epoch: 31 , loss: 14.003646422516216
Epoch: 32 , loss: 13.902046536857432
Epoch: 33 , loss: 13.84248538179831
Epoch: 34 , loss: 13.818348865617406
Epoch: 35 , loss: 13.735828478227962
Epoch: 36 , loss: 13.61777857758782
Epoch: 37 , loss: 13.641299220648678
Epoch: 38 , loss: 13.524104863405228
Epoch: 39 , loss: 13.499650039456107
Epoch: 40 , loss: 13.418545023961501
Epoch: 41 , loss: 13.477689293297855
Epoch: 42 , loss: 13.370854496955872
Epoch: 43 , loss: 13.292367387901653
Epoch: 44 , loss: 13.317322609099476
Epoch: 45 , loss: 13.261500805616379
Epoch: 46 , loss: 13.180790275335312
Epoch: 47 , loss: 13.142265024510296
Epoch: 48 , loss: 13.149134408343922
Epoch: 49 , loss: 13.115856471386822
Epoch: 50 , loss: 13.15691374648701
Epoch: 51 , loss: 13.128431656143881
Epoch: 52 , loss: 13.107756121592088
Epoch: 53 , loss: 13.113169770349156
Epoch: 54 , loss: 13.08668760007078
Epoch: 55 , loss: 13.096501594240015
Epoch: 56 , loss: 13.108429247682745
Epoch: 57 , loss: 13.014714032411575
Epoch: 58 , loss: 13.054057869044216
Epoch: 59 , loss: 13.003867371515794
Epoch: 60 , loss: 13.036047231067311
Epoch: 61 , loss: 13.000305387106808
Epoch: 62 , loss: 13.01800497011705
Epoch: 63 , loss: 12.957536607980728
Epoch: 64 , loss: 12.904643616893075
Epoch: 65 , loss: 12.847319410605865
Epoch: 66 , loss: 12.7871359993111
Epoch: 67 , loss: 12.78325669061054
Epoch: 68 , loss: 12.757507047869943
Epoch: 69 , loss: 12.77318691665476
Epoch: 70 , loss: 12.722020197998393
Epoch: 71 , loss: 12.751185755838048
Epoch: 72 , loss: 12.749189555644989
Epoch: 73 , loss: 12.624702274799347
Epoch: 74 , loss: 12.667251039635051
Epoch: 75 , loss: 12.648074125701731
Epoch: 76 , loss: 12.586085549809717
Epoch: 77 , loss: 12.668936228210276
Epoch: 78 , loss: 12.66994958845052
Epoch: 79 , loss: 12.61024243181402
Epoch: 80 , loss: 12.628840072588487
Epoch: 81 , loss: 12.642430492422797
Epoch: 82 , loss: 12.52734336527911
Epoch: 83 , loss: 12.585855589671569
Epoch: 84 , loss: 12.547403406013142
Epoch: 85 , loss: 12.548733819614757
Epoch: 86 , loss: 12.582865793596614
Epoch: 87 , loss: 12.6549214693633
Epoch: 88 , loss: 12.577057589184154
Epoch: 89 , loss: 12.537082290107554
Epoch: 90 , loss: 12.591914862394333
Epoch: 91 , loss: 12.52417432720011
Epoch: 92 , loss: 12.535984128713608
Epoch: 93 , loss: 12.462363107637925
Epoch: 94 , loss: 12.514019868590616
Epoch: 95 , loss: 12.540440781549973
Epoch: 96 , loss: 12.505652034824545
Epoch: 97 , loss: 12.49894517660141
Epoch: 98 , loss: 12.524549397555264
Epoch: 99 , loss: 12.422999628565528
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [18]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [19]:
np.shape(imputations[-1])

(5644, 98)

In [20]:
new_df=imputations[-1]

In [21]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\MUSH.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [22]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [23]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [24]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,Column 1_x,Column 2_s,Column 3_n,Column 4_t,Column 5_p,Column 6_f,Column 7_c,Column 8_n,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_v,Column 22_d
1,Column 1_x,Column 2_s,Column 3_y,Column 4_t,Column 5_a,Column 6_f,Column 7_c,Column 8_b,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_n,Column 22_g
2,Column 1_b,Column 2_s,Column 3_w,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_n,Column 10_t,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_n,Column 22_m
3,Column 1_x,Column 2_y,Column 3_w,Column 4_t,Column 5_p,Column 6_f,Column 7_c,Column 8_n,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_v,Column 22_u
4,Column 1_x,Column 2_s,Column 3_g,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_p,Column 10_t,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_e,Column 20_n,Column 21_a,Column 22_g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,Column 1_b,Column 2_y,Column 3_g,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_d
5640,Column 1_x,Column 2_y,Column 3_y,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5641,Column 1_x,Column 2_y,Column 3_g,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5642,Column 1_x,Column 2_y,Column 3_y,Column 4_f,Column 5_f,Column 6_f,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_y,Column 14_c,Column 15_c,Column 16_p,Column 17_w,Column 18_o,Column 19_n,Column 20_h,Column 21_v,Column 22_d
5643,Column 1_f,Column 2_y,Column 3_c,Column 4_f,Column 5_f,Column 6_a,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_k,Column 14_c,Column 15_b,Column 16_p,Column 17_w,Column 18_n,Column 19_n,Column 20_w,Column 21_c,Column 22_d

In [25]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [26]:
def replace_column_values(dataframe):
    
    for col_name in dataframe.columns:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [27]:
mod_df=replace_column_values(new_df)
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,v,d
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,n,f,c,b,n,t,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,v,u
4,x,s,g,f,n,f,c,b,p,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,g,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,d
5640,x,y,y,f,n,f,c,b,w,e,...,y,n,n,p,w,o,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,o,p,w,y,p
5642,x,y,y,f,f,f,c,b,y,e,...,y,c,c,p,w,o,n,h,v,d
5643,f,y,c,f,f,a,c,b,y,e,...,k,c,b,p,w,n,n,w,c,d

In [28]:
mod_df.dtypes

Column 1     object
Column 2     object
Column 3     object
Column 4     object
Column 5     object
Column 6     object
Column 7     object
Column 8     object
Column 9     object
Column 10    object
Column 11    object
Column 12    object
Column 13    object
Column 14    object
Column 15    object
Column 16    object
Column 17    object
Column 18    object
Column 19    object
Column 20    object
Column 21    object
Column 22    object
dtype: object

calculating AE

In [29]:
copy_est_df=mod_df.astype('string')

In [30]:
m=copy_est_df.astype('string')
m

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,v,d
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,n,f,c,b,n,t,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,v,u
4,x,s,g,f,n,f,c,b,p,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,g,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,d
5640,x,y,y,f,n,f,c,b,w,e,...,y,n,n,p,w,o,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,o,p,w,y,p
5642,x,y,y,f,f,f,c,b,y,e,...,y,c,c,p,w,o,n,h,v,d
5643,f,y,c,f,f,a,c,b,y,e,...,k,c,b,p,w,n,n,w,c,d

In [31]:
# I function
def I_function(copy_est_df,original_df):
    for col_name in copy_est_df.columns:
        #copy_est_df[col_name] = copy_est_df[col_name].astype('string')
        #original_df[col_name] = original_df[col_name].astype('string')
        est_data_list=copy_est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        copy_est_df[col_name]=est_data_list
    return(copy_est_df.astype('int64'))

In [32]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [33]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(copy_est_df,original_df)
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(5644*22)
    return(ae)

In [34]:
AE(copy_est_df,complete_df)

0.07105695509309967

In [36]:
mod_df.to_excel("MUSH_NG_20(imp).xlsx", index=False,header=False)