In [9]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [10]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\MUSH\MUSH_NN_20.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,NaN,n,k,NaN,...,s,w,w,p,w,o,p,k,s,u
1,x,NaN,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,NaN,w,t,l,NaN,c,b,NaN,e,...,s,w,w,p,w,o,p,n,NaN,m
3,x,NaN,NaN,t,p,NaN,c,NaN,n,e,...,s,w,w,p,w,o,p,NaN,s,u
4,x,s,g,NaN,NaN,f,w,b,k,t,...,NaN,w,w,NaN,w,NaN,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,NaN,...,y,NaN,NaN,NaN,w,t,p,NaN,y,p
5640,x,y,NaN,f,n,NaN,NaN,b,w,e,...,y,NaN,n,NaN,w,t,NaN,NaN,y,NaN
5641,x,y,g,t,n,NaN,c,b,w,NaN,...,s,NaN,w,p,NaN,t,p,w,y,p
5642,x,NaN,c,NaN,NaN,f,c,b,NaN,e,...,y,c,c,NaN,NaN,NaN,n,NaN,c,d
5643,f,y,NaN,NaN,NaN,NaN,c,b,y,NaN,...,y,NaN,c,p,w,n,n,w,NaN,d

In [11]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [12]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [13]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [14]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [15]:
categorical = ['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [16]:
print(data_in.head())

   Column 1_b  Column 1_c  Column 1_f  Column 1_k  Column 1_s  Column 1_x  \
0         0.0         0.0         0.0         0.0         0.0         1.0
1         0.0         0.0         0.0         0.0         0.0         1.0
2         1.0         0.0         0.0         0.0         0.0         0.0
3         0.0         0.0         0.0         0.0         0.0         1.0
4         0.0         0.0         0.0         0.0         0.0         1.0

   Column 2_f  Column 2_g  Column 2_s  Column 2_y  ...  Column 21_n  \
0         0.0         0.0         1.0         0.0  ...          0.0
1         NaN         NaN         NaN         NaN  ...          1.0
2         NaN         NaN         NaN         NaN  ...          NaN
3         NaN         NaN         NaN         NaN  ...          0.0
4         0.0         0.0         1.0         0.0  ...          0.0

   Column 21_s  Column 21_v  Column 21_y  Column 22_d  Column 22_g  \
0          1.0          0.0          0.0          0.0          0.0
1          0.0          0.0          0.0          0.0          1.0
2          NaN          NaN          NaN          0.0          0.0
3          1.0          0.0          0.0          0.0          0.0
4          0.0          0.0          0.0          0.0          1.0

   Column 22_l  Column 22_m  Column 22_p  Column 22_u
0          0.0          0.0          0.0          1.0
1          0.0          0.0          0.0          0.0
2          0.0          1.0          0.0          0.0
3          0.0          0.0          0.0          1.0
4          0.0          0.0          0.0          0.0

[5 rows x 98 columns]

In [17]:
imputer = md.Midas(layer_structure = [22,22+33,22+33+33,22+33+33+33,22+33+33,22+33,22], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 4, 8, 2, 7, 2, 2, 2, 9, 2, 4, 4, 4, 7, 7, 1, 2, 3, 4, 6, 6, 6]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 21.484442564574156
Epoch: 1 , loss: 16.917847898873415
Epoch: 2 , loss: 16.32787875966592
Epoch: 3 , loss: 16.028640844605185
Epoch: 4 , loss: 15.790211162783883
Epoch: 5 , loss: 15.651725549589504
Epoch: 6 , loss: 15.494327393445102
Epoch: 7 , loss: 15.428125793283636
Epoch: 8 , loss: 15.34686399048025
Epoch: 9 , loss: 15.209695033051752
Epoch: 10 , loss: 15.12939693981951
Epoch: 11 , loss: 14.96372303366661
Epoch: 12 , loss: 14.923771771517666
Epoch: 13 , loss: 14.83719489249316
Epoch: 14 , loss: 14.762621733275326
Epoch: 15 , loss: 14.660149736837907
Epoch: 16 , loss: 14.578258275985718
Epoch: 17 , loss: 14.446111530065536
Epoch: 18 , loss: 14.318062042648142
Epoch: 19 , loss: 14.247907386584716
Epoch: 20 , loss: 14.097384249622172
Epoch: 21 , loss: 13.979064039208673
Epoch: 22 , loss: 13.838626390153712
Epoch: 23 , loss: 13.784985517913645
Epoch: 24 , loss: 13.699578182263808
Epoch: 25 , loss: 13.640868823636662
Epoch: 26 , loss: 13.585394092581488
Epoch: 27 , loss: 13.580891319296576
Epoch: 28 , loss: 13.496237990531055
Epoch: 29 , loss: 13.45112282037735
Epoch: 30 , loss: 13.434383760799061
Epoch: 31 , loss: 13.349934423511678
Epoch: 32 , loss: 13.260468380017715
Epoch: 33 , loss: 13.195584570819682
Epoch: 34 , loss: 13.097220453349026
Epoch: 35 , loss: 13.024773207577793
Epoch: 36 , loss: 12.934775636954742
Epoch: 37 , loss: 12.942538117820567
Epoch: 38 , loss: 12.884145425124602
Epoch: 39 , loss: 12.789878425273029
Epoch: 40 , loss: 12.702751820737666
Epoch: 41 , loss: 12.741142373193394
Epoch: 42 , loss: 12.681696463714946
Epoch: 43 , loss: 12.673776317726482
Epoch: 44 , loss: 12.674956766041843
Epoch: 45 , loss: 12.69293527169661
Epoch: 46 , loss: 12.578424434770238
Epoch: 47 , loss: 12.623419607227499
Epoch: 48 , loss: 12.549476848407226
Epoch: 49 , loss: 12.533774801275946
Epoch: 50 , loss: 12.565307934175838
Epoch: 51 , loss: 12.58403759652918
Epoch: 52 , loss: 12.547804959795691
Epoch: 53 , loss: 12.53665063327009
Epoch: 54 , loss: 12.522518320517106
Epoch: 55 , loss: 12.521708087487655
Epoch: 56 , loss: 12.551367832855744
Epoch: 57 , loss: 12.491211823441766
Epoch: 58 , loss: 12.510195737535303
Epoch: 59 , loss: 12.581698954105377
Epoch: 60 , loss: 12.4575686536052
Epoch: 61 , loss: 12.503782619129527
Epoch: 62 , loss: 12.430139655416662
Epoch: 63 , loss: 12.45921809294007
Epoch: 64 , loss: 12.343141989274459
Epoch: 65 , loss: 12.349260053851388
Epoch: 66 , loss: 12.411482577974146
Epoch: 67 , loss: 12.40148675712672
Epoch: 68 , loss: 12.293117371472446
Epoch: 69 , loss: 12.319980163465846
Epoch: 70 , loss: 12.28017993406816
Epoch: 71 , loss: 12.349815604361622
Epoch: 72 , loss: 12.36684306643226
Epoch: 73 , loss: 12.332651872526515
Epoch: 74 , loss: 12.303831355138259
Epoch: 75 , loss: 12.316875417124141
Epoch: 76 , loss: 12.231318823315881
Epoch: 77 , loss: 12.20299655469981
Epoch: 78 , loss: 12.206317096948624
Epoch: 79 , loss: 12.1715605719523
Epoch: 80 , loss: 12.246734326536005
Epoch: 81 , loss: 12.209377180446278
Epoch: 82 , loss: 12.189949352632869
Epoch: 83 , loss: 12.257909308780324
Epoch: 84 , loss: 12.194232648069208
Epoch: 85 , loss: 12.213709031993693
Epoch: 86 , loss: 12.147369501265613
Epoch: 87 , loss: 12.13458113507791
Epoch: 88 , loss: 12.169822083278136
Epoch: 89 , loss: 12.1294646859169
Epoch: 90 , loss: 12.156613834879614
Epoch: 91 , loss: 12.145794134248387
Epoch: 92 , loss: 12.217888282103972
Epoch: 93 , loss: 12.124277022751896
Epoch: 94 , loss: 12.13979878208854
Epoch: 95 , loss: 12.11342995546081
Epoch: 96 , loss: 12.10614668510177
Epoch: 97 , loss: 12.070663739334453
Epoch: 98 , loss: 12.1836790794676
Epoch: 99 , loss: 12.151635603471236
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [18]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [19]:
np.shape(imputations[-1])

(5644, 98)

In [20]:
new_df=imputations[-1]

In [21]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\MUSH.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [22]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [23]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [24]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,Column 1_x,Column 2_s,Column 3_n,Column 4_t,Column 5_p,Column 6_f,Column 7_c,Column 8_n,Column 9_k,Column 10_t,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_s,Column 22_u
1,Column 1_x,Column 2_s,Column 3_y,Column 4_t,Column 5_a,Column 6_f,Column 7_c,Column 8_b,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_n,Column 22_g
2,Column 1_b,Column 2_s,Column 3_w,Column 4_t,Column 5_l,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_v,Column 22_m
3,Column 1_x,Column 2_y,Column 3_g,Column 4_t,Column 5_p,Column 6_f,Column 7_c,Column 8_b,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_h,Column 21_s,Column 22_u
4,Column 1_x,Column 2_s,Column 3_g,Column 4_t,Column 5_n,Column 6_f,Column 7_w,Column 8_b,Column 9_k,Column 10_t,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_e,Column 20_n,Column 21_a,Column 22_g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,Column 1_b,Column 2_y,Column 3_n,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_t,...,Column 13_y,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_n,Column 21_y,Column 22_p
5640,Column 1_x,Column 2_y,Column 3_w,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_w,Column 15_n,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_n,Column 21_y,Column 22_g
5641,Column 1_x,Column 2_y,Column 3_g,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5642,Column 1_x,Column 2_y,Column 3_c,Column 4_f,Column 5_f,Column 6_f,Column 7_c,Column 8_b,Column 9_p,Column 10_e,...,Column 13_y,Column 14_c,Column 15_c,Column 16_p,Column 17_w,Column 18_o,Column 19_n,Column 20_h,Column 21_c,Column 22_d
5643,Column 1_f,Column 2_y,Column 3_y,Column 4_f,Column 5_f,Column 6_f,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_y,Column 14_w,Column 15_c,Column 16_p,Column 17_w,Column 18_n,Column 19_n,Column 20_w,Column 21_v,Column 22_d

In [25]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [26]:
def replace_column_values(dataframe):
    
    for col_name in dataframe.columns:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [27]:
mod_df=replace_column_values(new_df)
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,t,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,w,e,...,s,w,w,p,w,o,p,n,v,m
3,x,y,g,t,p,f,c,b,n,e,...,s,w,w,p,w,o,p,h,s,u
4,x,s,g,t,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,t,...,y,w,w,p,w,t,p,n,y,p
5640,x,y,w,f,n,f,c,b,w,e,...,y,w,n,p,w,t,p,n,y,g
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,f,f,c,b,p,e,...,y,c,c,p,w,o,n,h,c,d
5643,f,y,y,f,f,f,c,b,y,e,...,y,w,c,p,w,n,n,w,v,d

In [28]:
mod_df.dtypes

Column 1     object
Column 2     object
Column 3     object
Column 4     object
Column 5     object
Column 6     object
Column 7     object
Column 8     object
Column 9     object
Column 10    object
Column 11    object
Column 12    object
Column 13    object
Column 14    object
Column 15    object
Column 16    object
Column 17    object
Column 18    object
Column 19    object
Column 20    object
Column 21    object
Column 22    object
dtype: object

calculating AE

In [29]:
copy_est_df=mod_df.astype('string')

In [30]:
m=copy_est_df.astype('string')
m

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,t,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,w,e,...,s,w,w,p,w,o,p,n,v,m
3,x,y,g,t,p,f,c,b,n,e,...,s,w,w,p,w,o,p,h,s,u
4,x,s,g,t,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,t,...,y,w,w,p,w,t,p,n,y,p
5640,x,y,w,f,n,f,c,b,w,e,...,y,w,n,p,w,t,p,n,y,g
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,f,f,c,b,p,e,...,y,c,c,p,w,o,n,h,c,d
5643,f,y,y,f,f,f,c,b,y,e,...,y,w,c,p,w,n,n,w,v,d

In [31]:
# I function
def I_function(copy_est_df,original_df):
    for col_name in copy_est_df.columns:
        #copy_est_df[col_name] = copy_est_df[col_name].astype('string')
        #original_df[col_name] = original_df[col_name].astype('string')
        est_data_list=copy_est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        copy_est_df[col_name]=est_data_list
    return(copy_est_df.astype('int64'))

In [32]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [33]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(copy_est_df,original_df)
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(5644*22)
    return(ae)

In [34]:
AE(copy_est_df,complete_df)

0.07306230268668255

In [36]:
mod_df.to_excel("MUSH_NN_20(imp).xlsx", index=False,header=False)