In [37]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [38]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\MUSH\MUSH_C_5.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,NaN,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,NaN,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,NaN,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,NaN
5640,x,y,n,f,n,NaN,c,b,w,e,...,NaN,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,NaN,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,NaN,w,n,n,w,c,d
5643,f,NaN,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [39]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [40]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [41]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [42]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [43]:
categorical = ['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [44]:
print(data_in.head())

   Column 1_b  Column 1_c  Column 1_f  Column 1_k  Column 1_s  Column 1_x  \
0         0.0         0.0         0.0         0.0         0.0         1.0
1         0.0         0.0         0.0         0.0         0.0         1.0
2         1.0         0.0         0.0         0.0         0.0         0.0
3         0.0         0.0         0.0         0.0         0.0         1.0
4         0.0         0.0         0.0         0.0         0.0         1.0

   Column 2_f  Column 2_g  Column 2_s  Column 2_y  ...  Column 21_n  \
0         0.0         0.0         1.0         0.0  ...          0.0
1         0.0         0.0         1.0         0.0  ...          1.0
2         0.0         0.0         1.0         0.0  ...          1.0
3         0.0         0.0         0.0         1.0  ...          0.0
4         0.0         0.0         1.0         0.0  ...          0.0

   Column 21_s  Column 21_v  Column 21_y  Column 22_d  Column 22_g  \
0          1.0          0.0          0.0          0.0          0.0
1          0.0          0.0          0.0          0.0          1.0
2          0.0          0.0          0.0          0.0          0.0
3          1.0          0.0          0.0          0.0          0.0
4          0.0          0.0          0.0          0.0          1.0

   Column 22_l  Column 22_m  Column 22_p  Column 22_u
0          0.0          0.0          0.0          1.0
1          0.0          0.0          0.0          0.0
2          0.0          1.0          0.0          0.0
3          0.0          0.0          0.0          1.0
4          0.0          0.0          0.0          0.0

[5 rows x 98 columns]

In [45]:
imputer = md.Midas(layer_structure = [22,22+24,22+24+24,22+24+24+24,22+24+24,22+24,22], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 4, 8, 2, 7, 2, 2, 2, 9, 2, 4, 4, 4, 7, 7, 1, 2, 3, 4, 6, 6, 6]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 25.728683742609892
Epoch: 1 , loss: 20.58744588765231
Epoch: 2 , loss: 19.94071525877172
Epoch: 3 , loss: 19.600003925236788
Epoch: 4 , loss: 19.29999339580536
Epoch: 5 , loss: 19.147044252265584
Epoch: 6 , loss: 18.969603164629504
Epoch: 7 , loss: 18.870360528880898
Epoch: 8 , loss: 18.73228248411959
Epoch: 9 , loss: 18.601007878780365
Epoch: 10 , loss: 18.477423410524022
Epoch: 11 , loss: 18.33733526685021
Epoch: 12 , loss: 18.23697235367515
Epoch: 13 , loss: 18.091822361404244
Epoch: 14 , loss: 18.020738631486893
Epoch: 15 , loss: 17.917865195057608
Epoch: 16 , loss: 17.834812034260143
Epoch: 17 , loss: 17.69636416977102
Epoch: 18 , loss: 17.690572519193996
Epoch: 19 , loss: 17.616475985808805
Epoch: 20 , loss: 17.505381267179143
Epoch: 21 , loss: 17.462612880901858
Epoch: 22 , loss: 17.368332732807506
Epoch: 23 , loss: 17.364191448146645
Epoch: 24 , loss: 17.314503233541142
Epoch: 25 , loss: 17.269085377454758
Epoch: 26 , loss: 17.223062406886708
Epoch: 27 , loss: 17.213484414599158
Epoch: 28 , loss: 17.00640863451091
Epoch: 29 , loss: 16.954306575385008
Epoch: 30 , loss: 16.797247762029823
Epoch: 31 , loss: 16.655718873847615
Epoch: 32 , loss: 16.451739351857793
Epoch: 33 , loss: 16.289432140913878
Epoch: 34 , loss: 16.153351130810652
Epoch: 35 , loss: 16.11489168622277
Epoch: 36 , loss: 15.928590641780334
Epoch: 37 , loss: 15.955135610970585
Epoch: 38 , loss: 15.84798561172052
Epoch: 39 , loss: 15.758311214772137
Epoch: 40 , loss: 15.735352196476676
Epoch: 41 , loss: 15.758734621784903
Epoch: 42 , loss: 15.691536803137172
Epoch: 43 , loss: 15.67958413199945
Epoch: 44 , loss: 15.705834754488684
Epoch: 45 , loss: 15.644223110242324
Epoch: 46 , loss: 15.566614822907882
Epoch: 47 , loss: 15.547755498777736
Epoch: 48 , loss: 15.597704667936672
Epoch: 49 , loss: 15.553499498150565
Epoch: 50 , loss: 15.622073891487988
Epoch: 51 , loss: 15.606570948253978
Epoch: 52 , loss: 15.542497350410981
Epoch: 53 , loss: 15.576529990543019
Epoch: 54 , loss: 15.526757091283798
Epoch: 55 , loss: 15.622269313443791
Epoch: 56 , loss: 15.549123739654368
Epoch: 57 , loss: 15.534892025319012
Epoch: 58 , loss: 15.608592363921078
Epoch: 59 , loss: 15.583666850220073
Epoch: 60 , loss: 15.571102266961878
Epoch: 61 , loss: 15.590531538833272
Epoch: 62 , loss: 15.554087004878305
Epoch: 63 , loss: 15.611306911165064
Epoch: 64 , loss: 15.555519903248006
Epoch: 65 , loss: 15.526771648363633
Epoch: 66 , loss: 15.536159260706468
Epoch: 67 , loss: 15.5065306939862
Epoch: 68 , loss: 15.515986789356578
Epoch: 69 , loss: 15.500759690999985
Epoch: 70 , loss: 15.461835850368846
Epoch: 71 , loss: 15.54139785062183
Epoch: 72 , loss: 15.533421101895245
Epoch: 73 , loss: 15.49762414260344
Epoch: 74 , loss: 15.529242274436085
Epoch: 75 , loss: 15.49186784299937
Epoch: 76 , loss: 15.510912049900401
Epoch: 77 , loss: 15.550926628437908
Epoch: 78 , loss: 15.550848454236984
Epoch: 79 , loss: 15.477929269725626
Epoch: 80 , loss: 15.533941686153412
Epoch: 81 , loss: 15.428953728892587
Epoch: 82 , loss: 15.51814716783437
Epoch: 83 , loss: 15.540171108462594
Epoch: 84 , loss: 15.496285498142242
Epoch: 85 , loss: 15.515603791583668
Epoch: 86 , loss: 15.480493396520615
Epoch: 87 , loss: 15.510479536923496
Epoch: 88 , loss: 15.565873850475658
Epoch: 89 , loss: 15.382255291396921
Epoch: 90 , loss: 15.527464389801025
Epoch: 91 , loss: 15.4313641353087
Epoch: 92 , loss: 15.468299188397147
Epoch: 93 , loss: 15.458722518248992
Epoch: 94 , loss: 15.396307005123658
Epoch: 95 , loss: 15.4749598774043
Epoch: 96 , loss: 15.490249809893696
Epoch: 97 , loss: 15.438599881800739
Epoch: 98 , loss: 15.390575173226269
Epoch: 99 , loss: 15.337232505733317
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [46]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [47]:
np.shape(imputations[-1])

(5644, 98)

In [48]:
new_df=imputations[-1]

In [49]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\MUSH.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [50]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [51]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [52]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,Column 1_x,Column 2_s,Column 3_n,Column 4_t,Column 5_p,Column 6_f,Column 7_c,Column 8_n,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_s,Column 22_u
1,Column 1_x,Column 2_s,Column 3_y,Column 4_t,Column 5_a,Column 6_f,Column 7_c,Column 8_b,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_n,Column 22_g
2,Column 1_b,Column 2_s,Column 3_w,Column 4_t,Column 5_l,Column 6_f,Column 7_c,Column 8_b,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_n,Column 22_m
3,Column 1_x,Column 2_y,Column 3_w,Column 4_f,Column 5_p,Column 6_f,Column 7_c,Column 8_n,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_s,Column 22_u
4,Column 1_x,Column 2_s,Column 3_g,Column 4_f,Column 5_n,Column 6_f,Column 7_w,Column 8_b,Column 9_k,Column 10_t,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_e,Column 20_n,Column 21_a,Column 22_g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,Column 1_b,Column 2_y,Column 3_n,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_g
5640,Column 1_x,Column 2_y,Column 3_n,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_k,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5641,Column 1_x,Column 2_y,Column 3_g,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5642,Column 1_x,Column 2_y,Column 3_c,Column 4_f,Column 5_m,Column 6_f,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_y,Column 14_c,Column 15_c,Column 16_p,Column 17_w,Column 18_n,Column 19_n,Column 20_w,Column 21_c,Column 22_d
5643,Column 1_f,Column 2_f,Column 3_c,Column 4_f,Column 5_m,Column 6_a,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_y,Column 14_c,Column 15_c,Column 16_p,Column 17_w,Column 18_n,Column 19_n,Column 20_w,Column 21_c,Column 22_d

In [53]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [54]:
def replace_column_values(dataframe):
    
    for col_name in dataframe.columns:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [55]:
mod_df=replace_column_values(new_df)
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,f,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,g
5640,x,y,n,f,n,f,c,b,w,e,...,k,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,f,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [56]:
mod_df.dtypes

Column 1     object
Column 2     object
Column 3     object
Column 4     object
Column 5     object
Column 6     object
Column 7     object
Column 8     object
Column 9     object
Column 10    object
Column 11    object
Column 12    object
Column 13    object
Column 14    object
Column 15    object
Column 16    object
Column 17    object
Column 18    object
Column 19    object
Column 20    object
Column 21    object
Column 22    object
dtype: object

calculating AE

In [57]:
copy_est_df=mod_df.astype('string')

In [58]:
m=copy_est_df.astype('string')
m

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,f,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,g
5640,x,y,n,f,n,f,c,b,w,e,...,k,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,f,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [59]:
# I function
def I_function(copy_est_df,original_df):
    for col_name in copy_est_df.columns:
        #copy_est_df[col_name] = copy_est_df[col_name].astype('string')
        #original_df[col_name] = original_df[col_name].astype('string')
        est_data_list=copy_est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        copy_est_df[col_name]=est_data_list
    return(copy_est_df.astype('int64'))

In [60]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [61]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(copy_est_df,original_df)
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(5644*22)
    return(ae)

In [62]:
AE(copy_est_df,complete_df)

0.01553540364667225

In [1]:
mod_df.to_excel("MUSH_C_5(imp).xlsx", index=False,header=False)

NameError: name 'mod_df' is not defined