In [9]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [10]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\MUSH\MUSH_AG_20.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,NaN,NaN,f,c,n,k,NaN,...,s,NaN,NaN,p,w,NaN,NaN,NaN,NaN,NaN
1,x,s,y,NaN,NaN,f,NaN,b,k,NaN,...,NaN,NaN,NaN,p,w,o,NaN,NaN,NaN,NaN
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,NaN,NaN,f,c,n,n,NaN,...,s,NaN,NaN,p,w,NaN,NaN,NaN,NaN,NaN
4,x,s,g,NaN,NaN,f,NaN,b,k,NaN,...,NaN,NaN,NaN,p,w,NaN,NaN,NaN,a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,NaN,NaN,f,NaN,b,w,NaN,...,NaN,NaN,NaN,p,w,t,NaN,NaN,NaN,NaN
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,NaN,NaN,f,NaN,b,y,NaN,...,NaN,NaN,NaN,p,w,n,NaN,NaN,NaN,NaN
5643,f,y,c,NaN,NaN,a,c,b,y,NaN,...,y,NaN,NaN,p,w,NaN,NaN,NaN,NaN,NaN

In [11]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [12]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [13]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [14]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [15]:
categorical = ['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [16]:
print(data_in.head())

   Column 1_b  Column 1_c  Column 1_f  Column 1_k  Column 1_s  Column 1_x  \
0         0.0         0.0         0.0         0.0         0.0         1.0
1         0.0         0.0         0.0         0.0         0.0         1.0
2         1.0         0.0         0.0         0.0         0.0         0.0
3         0.0         0.0         0.0         0.0         0.0         1.0
4         0.0         0.0         0.0         0.0         0.0         1.0

   Column 2_f  Column 2_g  Column 2_s  Column 2_y  ...  Column 21_n  \
0         0.0         0.0         1.0         0.0  ...          NaN
1         0.0         0.0         1.0         0.0  ...          NaN
2         0.0         0.0         1.0         0.0  ...          1.0
3         0.0         0.0         0.0         1.0  ...          NaN
4         0.0         0.0         1.0         0.0  ...          0.0

   Column 21_s  Column 21_v  Column 21_y  Column 22_d  Column 22_g  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          0.0          0.0          0.0          0.0          0.0
3          NaN          NaN          NaN          NaN          NaN
4          0.0          0.0          0.0          NaN          NaN

   Column 22_l  Column 22_m  Column 22_p  Column 22_u
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2          0.0          1.0          0.0          0.0
3          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN

[5 rows x 98 columns]

In [17]:
imputer = md.Midas(layer_structure = [22,22+43,22+43+43,22+43+43+43,22+43+43,22+43,22], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 4, 8, 2, 7, 2, 2, 2, 9, 2, 4, 4, 4, 7, 7, 1, 2, 3, 4, 6, 6, 6]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 20.740202340212736
Epoch: 1 , loss: 16.68571351333098
Epoch: 2 , loss: 16.09354730085893
Epoch: 3 , loss: 15.81268606131727
Epoch: 4 , loss: 15.57196501710198
Epoch: 5 , loss: 15.454088495536284
Epoch: 6 , loss: 15.283451226624576
Epoch: 7 , loss: 15.213709316470407
Epoch: 8 , loss: 15.063973085446792
Epoch: 9 , loss: 14.959680752320724
Epoch: 10 , loss: 14.893983106721532
Epoch: 11 , loss: 14.755272781307047
Epoch: 12 , loss: 14.699276796796106
Epoch: 13 , loss: 14.613662102005698
Epoch: 14 , loss: 14.548536945473064
Epoch: 15 , loss: 14.43001493269747
Epoch: 16 , loss: 14.398889446800405
Epoch: 17 , loss: 14.29011105407368
Epoch: 18 , loss: 14.270855047486044
Epoch: 19 , loss: 14.200260696086017
Epoch: 20 , loss: 14.084986052729867
Epoch: 21 , loss: 14.054324786771428
Epoch: 22 , loss: 13.958756991408087
Epoch: 23 , loss: 13.883391304449601
Epoch: 24 , loss: 13.81271014159376
Epoch: 25 , loss: 13.718439714475112
Epoch: 26 , loss: 13.662418885664506
Epoch: 27 , loss: 13.678732061927969
Epoch: 28 , loss: 13.586548341946168
Epoch: 29 , loss: 13.547036528587341
Epoch: 30 , loss: 13.537254225124013
Epoch: 31 , loss: 13.51529438658194
Epoch: 32 , loss: 13.491971950639378
Epoch: 33 , loss: 13.508641839027405
Epoch: 34 , loss: 13.45478538220579
Epoch: 35 , loss: 13.505570357496088
Epoch: 36 , loss: 13.505574971437454
Epoch: 37 , loss: 13.507577449083328
Epoch: 38 , loss: 13.476030509580266
Epoch: 39 , loss: 13.410631063309582
Epoch: 40 , loss: 13.458918346600099
Epoch: 41 , loss: 13.462827299128879
Epoch: 42 , loss: 13.480599262497641
Epoch: 43 , loss: 13.426201809536327
Epoch: 44 , loss: 13.464451857588507
Epoch: 45 , loss: 13.447431740435688
Epoch: 46 , loss: 13.400774625214664
Epoch: 47 , loss: 13.429607274857434
Epoch: 48 , loss: 13.419582445513118
Epoch: 49 , loss: 13.37121906876564
Epoch: 50 , loss: 13.393953913992101
Epoch: 51 , loss: 13.37929652766748
Epoch: 52 , loss: 13.332281876694072
Epoch: 53 , loss: 13.39159687540748
Epoch: 54 , loss: 13.391915676268665
Epoch: 55 , loss: 13.402379022403197
Epoch: 56 , loss: 13.422543103044683
Epoch: 57 , loss: 13.367797819050876
Epoch: 58 , loss: 13.414946886626156
Epoch: 59 , loss: 13.374338519844143
Epoch: 60 , loss: 13.409737161614679
Epoch: 61 , loss: 13.421641395850616
Epoch: 62 , loss: 13.39718889377334
Epoch: 63 , loss: 13.345189430496909
Epoch: 64 , loss: 13.378450122746555
Epoch: 65 , loss: 13.37058426304297
Epoch: 66 , loss: 13.392402443018826
Epoch: 67 , loss: 13.393128809603779
Epoch: 68 , loss: 13.379696255380457
Epoch: 69 , loss: 13.35569862073118
Epoch: 70 , loss: 13.376658488403667
Epoch: 71 , loss: 13.356983309442347
Epoch: 72 , loss: 13.415317697958512
Epoch: 73 , loss: 13.356045194647528
Epoch: 74 , loss: 13.354077675125815
Epoch: 75 , loss: 13.437921811233867
Epoch: 76 , loss: 13.428952493450858
Epoch: 77 , loss: 13.37192924727093
Epoch: 78 , loss: 13.359775860201228
Epoch: 79 , loss: 13.379290960051797
Epoch: 80 , loss: 13.387854356657375
Epoch: 81 , loss: 13.358006927100094
Epoch: 82 , loss: 13.349227038296787
Epoch: 83 , loss: 13.350680137222463
Epoch: 84 , loss: 13.42501789060506
Epoch: 85 , loss: 13.38574161583727
Epoch: 86 , loss: 13.413417323069138
Epoch: 87 , loss: 13.383250103755431
Epoch: 88 , loss: 13.384976766326211
Epoch: 89 , loss: 13.386487413536418
Epoch: 90 , loss: 13.369940242984079
Epoch: 91 , loss: 13.414039205421101
Epoch: 92 , loss: 13.381105485287579
Epoch: 93 , loss: 13.361556142568588
Epoch: 94 , loss: 13.402255353602497
Epoch: 95 , loss: 13.375058117237957
Epoch: 96 , loss: 13.337442208420146
Epoch: 97 , loss: 13.342431875792416
Epoch: 98 , loss: 13.407734044573523
Epoch: 99 , loss: 13.38274499638514
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [18]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [19]:
np.shape(imputations[-1])

(5644, 98)

In [20]:
new_df=imputations[-1]

In [21]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\MUSH.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [22]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [23]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [24]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,Column 1_x,Column 2_s,Column 3_n,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_n,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_v,Column 22_d
1,Column 1_x,Column 2_s,Column 3_y,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_h,Column 21_v,Column 22_g
2,Column 1_b,Column 2_s,Column 3_w,Column 4_t,Column 5_l,Column 6_f,Column 7_c,Column 8_b,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_n,Column 22_m
3,Column 1_x,Column 2_y,Column 3_w,Column 4_f,Column 5_f,Column 6_f,Column 7_c,Column 8_n,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_h,Column 21_v,Column 22_g
4,Column 1_x,Column 2_s,Column 3_g,Column 4_f,Column 5_f,Column 6_f,Column 7_c,Column 8_b,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_h,Column 21_a,Column 22_g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,Column 1_b,Column 2_y,Column 3_n,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5640,Column 1_x,Column 2_y,Column 3_n,Column 4_f,Column 5_f,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_h,Column 21_v,Column 22_g
5641,Column 1_x,Column 2_y,Column 3_g,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5642,Column 1_x,Column 2_y,Column 3_c,Column 4_f,Column 5_f,Column 6_f,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_n,Column 19_p,Column 20_h,Column 21_v,Column 22_g
5643,Column 1_f,Column 2_y,Column 3_c,Column 4_f,Column 5_f,Column 6_a,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_y,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_l,Column 20_h,Column 21_s,Column 22_g

In [25]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [26]:
def replace_column_values(dataframe):
    
    for col_name in dataframe.columns:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [27]:
mod_df=replace_column_values(new_df)
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,n,f,c,n,k,e,...,s,w,w,p,w,o,p,k,v,d
1,x,s,y,f,n,f,c,b,k,e,...,s,w,w,p,w,o,p,h,v,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,f,f,f,c,n,n,e,...,s,w,w,p,w,o,p,h,v,g
4,x,s,g,f,f,f,c,b,k,e,...,s,w,w,p,w,o,p,h,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,f,f,c,b,w,e,...,s,w,w,p,w,t,p,h,v,g
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,f,f,c,b,y,e,...,s,w,w,p,w,n,p,h,v,g
5643,f,y,c,f,f,a,c,b,y,e,...,y,w,w,p,w,o,l,h,s,g

In [28]:
mod_df.dtypes

Column 1     object
Column 2     object
Column 3     object
Column 4     object
Column 5     object
Column 6     object
Column 7     object
Column 8     object
Column 9     object
Column 10    object
Column 11    object
Column 12    object
Column 13    object
Column 14    object
Column 15    object
Column 16    object
Column 17    object
Column 18    object
Column 19    object
Column 20    object
Column 21    object
Column 22    object
dtype: object

calculating AE

In [29]:
copy_est_df=mod_df.astype('string')

In [30]:
m=copy_est_df.astype('string')
m

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,n,f,c,n,k,e,...,s,w,w,p,w,o,p,k,v,d
1,x,s,y,f,n,f,c,b,k,e,...,s,w,w,p,w,o,p,h,v,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,f,f,f,c,n,n,e,...,s,w,w,p,w,o,p,h,v,g
4,x,s,g,f,f,f,c,b,k,e,...,s,w,w,p,w,o,p,h,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,f,f,c,b,w,e,...,s,w,w,p,w,t,p,h,v,g
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,f,f,c,b,y,e,...,s,w,w,p,w,n,p,h,v,g
5643,f,y,c,f,f,a,c,b,y,e,...,y,w,w,p,w,o,l,h,s,g

In [31]:
# I function
def I_function(copy_est_df,original_df):
    for col_name in copy_est_df.columns:
        #copy_est_df[col_name] = copy_est_df[col_name].astype('string')
        #original_df[col_name] = original_df[col_name].astype('string')
        est_data_list=copy_est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        copy_est_df[col_name]=est_data_list
    return(copy_est_df.astype('int64'))

In [32]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [33]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(copy_est_df,original_df)
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(5644*22)
    return(ae)

In [34]:
AE(copy_est_df,complete_df)

0.08225146575607242

In [35]:
mod_df.to_excel("MUSH_AG_10(imp).xlsx", index=False,header=False)