In [2]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [3]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\MUSH\MUSH_NG_5.xlsx',header=None,names=column_names)
df

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\furqz\\OneDrive\\Desktop\\Data mining stiff\\incomplete\\Incomplete Datasets Without Labels\\Splice\\Splice_C_5.xlsx'

In [11]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [12]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [13]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [14]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [15]:
categorical = ['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [16]:
print(data_in.head())

   Column 1_b  Column 1_c  Column 1_f  Column 1_k  Column 1_s  Column 1_x  \
0         0.0         0.0         0.0         0.0         0.0         1.0
1         0.0         0.0         0.0         0.0         0.0         1.0
2         1.0         0.0         0.0         0.0         0.0         0.0
3         0.0         0.0         0.0         0.0         0.0         1.0
4         0.0         0.0         0.0         0.0         0.0         1.0

   Column 2_f  Column 2_g  Column 2_s  Column 2_y  ...  Column 21_n  \
0         0.0         0.0         1.0         0.0  ...          0.0
1         0.0         0.0         1.0         0.0  ...          1.0
2         0.0         0.0         1.0         0.0  ...          1.0
3         0.0         0.0         0.0         1.0  ...          0.0
4         0.0         0.0         1.0         0.0  ...          0.0

   Column 21_s  Column 21_v  Column 21_y  Column 22_d  Column 22_g  \
0          1.0          0.0          0.0          0.0          0.0
1          0.0          0.0          0.0          0.0          1.0
2          0.0          0.0          0.0          0.0          0.0
3          1.0          0.0          0.0          0.0          0.0
4          0.0          0.0          0.0          0.0          1.0

   Column 22_l  Column 22_m  Column 22_p  Column 22_u
0          0.0          0.0          0.0          1.0
1          0.0          0.0          0.0          0.0
2          0.0          1.0          0.0          0.0
3          0.0          0.0          0.0          1.0
4          0.0          0.0          0.0          0.0

[5 rows x 98 columns]

In [17]:
imputer = md.Midas(layer_structure = [22,22+18,22+18+18,22+18+18+18,22+18+18,22+18,22], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 4, 8, 2, 7, 2, 2, 2, 9, 2, 4, 4, 4, 7, 7, 1, 2, 3, 4, 6, 6, 6]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 26.378384617241945
Epoch: 1 , loss: 20.58844450928948
Epoch: 2 , loss: 19.86597280068831
Epoch: 3 , loss: 19.50297956575047
Epoch: 4 , loss: 19.187680266120218
Epoch: 5 , loss: 19.06978176398711
Epoch: 6 , loss: 18.885366559028625
Epoch: 7 , loss: 18.78485195474191
Epoch: 8 , loss: 18.665874437852338
Epoch: 9 , loss: 18.544929073615506
Epoch: 10 , loss: 18.426175987178627
Epoch: 11 , loss: 18.29325502298095
Epoch: 12 , loss: 18.16444340619174
Epoch: 13 , loss: 18.109107971191406
Epoch: 14 , loss: 18.043544839728963
Epoch: 15 , loss: 17.897434776479546
Epoch: 16 , loss: 17.813174724578857
Epoch: 17 , loss: 17.687168752605263
Epoch: 18 , loss: 17.696208601648156
Epoch: 19 , loss: 17.61731069738215
Epoch: 20 , loss: 17.468488224528052
Epoch: 21 , loss: 17.463772933591496
Epoch: 22 , loss: 17.395035900852896
Epoch: 23 , loss: 17.35286810723218
Epoch: 24 , loss: 17.324482278390363
Epoch: 25 , loss: 17.248628984798085
Epoch: 26 , loss: 17.184271072799508
Epoch: 27 , loss: 17.155320576646112
Epoch: 28 , loss: 17.00497781959447
Epoch: 29 , loss: 16.973570812832225
Epoch: 30 , loss: 16.862164757468484
Epoch: 31 , loss: 16.816282521594655
Epoch: 32 , loss: 16.764223583719946
Epoch: 33 , loss: 16.65214069052176
Epoch: 34 , loss: 16.684669055721976
Epoch: 35 , loss: 16.592145732857965
Epoch: 36 , loss: 16.519481168551877
Epoch: 37 , loss: 16.551936927166853
Epoch: 38 , loss: 16.461359389803626
Epoch: 39 , loss: 16.28531385280869
Epoch: 40 , loss: 16.254799124869432
Epoch: 41 , loss: 16.193955903703515
Epoch: 42 , loss: 16.07837823033333
Epoch: 43 , loss: 15.944148927927017
Epoch: 44 , loss: 16.00319330529733
Epoch: 45 , loss: 15.906066076322036
Epoch: 46 , loss: 15.80984783985398
Epoch: 47 , loss: 15.777599863030694
Epoch: 48 , loss: 15.774944736198945
Epoch: 49 , loss: 15.68111286109144
Epoch: 50 , loss: 15.72306845404885
Epoch: 51 , loss: 15.702754177830435
Epoch: 52 , loss: 15.686790891669013
Epoch: 53 , loss: 15.616798430681229
Epoch: 54 , loss: 15.563344167037444
Epoch: 55 , loss: 15.606793390078979
Epoch: 56 , loss: 15.552168442444367
Epoch: 57 , loss: 15.5416458113627
Epoch: 58 , loss: 15.510639301755212
Epoch: 59 , loss: 15.429766736247323
Epoch: 60 , loss: 15.433019535108047
Epoch: 61 , loss: 15.371951295570893
Epoch: 62 , loss: 15.28050177747553
Epoch: 63 , loss: 15.171505789865147
Epoch: 64 , loss: 15.16544570164247
Epoch: 65 , loss: 15.1521390134638
Epoch: 66 , loss: 15.093514190478759
Epoch: 67 , loss: 15.083686462857507
Epoch: 68 , loss: 15.033120415427469
Epoch: 69 , loss: 15.065125489776785
Epoch: 70 , loss: 15.022524253888564
Epoch: 71 , loss: 15.053555518388748
Epoch: 72 , loss: 15.005909302017905
Epoch: 73 , loss: 15.024895892901855
Epoch: 74 , loss: 15.084243302995509
Epoch: 75 , loss: 14.962675490162589
Epoch: 76 , loss: 14.893142944032496
Epoch: 77 , loss: 14.981084858829325
Epoch: 78 , loss: 14.99535870552063
Epoch: 79 , loss: 14.954883832823146
Epoch: 80 , loss: 14.924285387450999
Epoch: 81 , loss: 14.85273227095604
Epoch: 82 , loss: 14.884337276220322
Epoch: 83 , loss: 14.904455729506232
Epoch: 84 , loss: 14.850661518898876
Epoch: 85 , loss: 14.825971589847045
Epoch: 86 , loss: 14.794439166784286
Epoch: 87 , loss: 14.856799242171375
Epoch: 88 , loss: 14.793390222571112
Epoch: 89 , loss: 14.687211654402994
Epoch: 90 , loss: 14.758229843594812
Epoch: 91 , loss: 14.749175814065067
Epoch: 92 , loss: 14.759878608313473
Epoch: 93 , loss: 14.794412875717336
Epoch: 94 , loss: 14.68901377916336
Epoch: 95 , loss: 14.787039821798151
Epoch: 96 , loss: 14.756578895178707
Epoch: 97 , loss: 14.6966270533475
Epoch: 98 , loss: 14.734980932690881
Epoch: 99 , loss: 14.755842328071594
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [18]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [19]:
np.shape(imputations[-1])

(5644, 98)

In [20]:
new_df=imputations[-1]

In [21]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\MUSH.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [22]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [23]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [24]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,Column 1_x,Column 2_s,Column 3_n,Column 4_t,Column 5_p,Column 6_f,Column 7_c,Column 8_n,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_s,Column 22_u
1,Column 1_x,Column 2_s,Column 3_y,Column 4_t,Column 5_a,Column 6_f,Column 7_c,Column 8_b,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_n,Column 22_g
2,Column 1_b,Column 2_s,Column 3_w,Column 4_t,Column 5_l,Column 6_f,Column 7_c,Column 8_b,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_n,Column 22_m
3,Column 1_x,Column 2_y,Column 3_w,Column 4_t,Column 5_p,Column 6_f,Column 7_c,Column 8_n,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_s,Column 22_u
4,Column 1_x,Column 2_s,Column 3_g,Column 4_f,Column 5_n,Column 6_f,Column 7_w,Column 8_b,Column 9_k,Column 10_t,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_e,Column 20_n,Column 21_a,Column 22_g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,Column 1_b,Column 2_y,Column 3_g,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_v,Column 22_g
5640,Column 1_x,Column 2_y,Column 3_n,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5641,Column 1_x,Column 2_y,Column 3_g,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5642,Column 1_x,Column 2_y,Column 3_c,Column 4_f,Column 5_m,Column 6_f,Column 7_c,Column 8_b,Column 9_p,Column 10_e,...,Column 13_y,Column 14_c,Column 15_c,Column 16_p,Column 17_w,Column 18_n,Column 19_n,Column 20_w,Column 21_c,Column 22_d
5643,Column 1_f,Column 2_y,Column 3_c,Column 4_f,Column 5_m,Column 6_a,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_y,Column 14_c,Column 15_c,Column 16_p,Column 17_w,Column 18_n,Column 19_n,Column 20_w,Column 21_c,Column 22_d

In [25]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [26]:
def replace_column_values(dataframe):
    
    for col_name in dataframe.columns:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [27]:
mod_df=replace_column_values(new_df)
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,g,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,v,g
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,o,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,p,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [28]:
mod_df.dtypes

Column 1     object
Column 2     object
Column 3     object
Column 4     object
Column 5     object
Column 6     object
Column 7     object
Column 8     object
Column 9     object
Column 10    object
Column 11    object
Column 12    object
Column 13    object
Column 14    object
Column 15    object
Column 16    object
Column 17    object
Column 18    object
Column 19    object
Column 20    object
Column 21    object
Column 22    object
dtype: object

calculating AE

In [29]:
copy_est_df=mod_df.astype('string')

In [30]:
m=copy_est_df.astype('string')
m

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,g,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,v,g
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,o,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,p,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [31]:
# I function
def I_function(copy_est_df,original_df):
    for col_name in copy_est_df.columns:
        #copy_est_df[col_name] = copy_est_df[col_name].astype('string')
        #original_df[col_name] = original_df[col_name].astype('string')
        est_data_list=copy_est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        copy_est_df[col_name]=est_data_list
    return(copy_est_df.astype('int64'))

In [32]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [33]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(copy_est_df,original_df)
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(5644*22)
    return(ae)

In [34]:
AE(copy_est_df,complete_df)

0.017089749371818827

In [36]:
mod_df.to_excel("MUSH_NG_5(imp).xlsx", index=False,header=False)