In [9]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [10]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\MUSH\MUSH_AN_20.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,NaN,NaN,f,NaN,n,k,NaN,...,s,NaN,NaN,p,w,o,NaN,NaN,NaN,NaN
1,x,s,y,NaN,NaN,f,c,b,k,NaN,...,NaN,NaN,NaN,p,w,NaN,NaN,NaN,NaN,g
2,b,s,w,NaN,NaN,f,c,b,n,NaN,...,NaN,NaN,NaN,p,w,NaN,NaN,NaN,NaN,NaN
3,x,y,w,NaN,NaN,f,NaN,n,n,e,...,NaN,NaN,NaN,p,w,NaN,NaN,NaN,NaN,NaN
4,x,s,g,NaN,n,f,NaN,b,k,NaN,...,s,NaN,NaN,p,w,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,NaN,NaN,f,NaN,b,y,NaN,...,y,NaN,NaN,p,w,n,NaN,NaN,NaN,NaN
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [11]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [12]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [13]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [14]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [15]:
categorical = ['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [16]:
print(data_in.head())

   Column 1_b  Column 1_c  Column 1_f  Column 1_k  Column 1_s  Column 1_x  \
0         0.0         0.0         0.0         0.0         0.0         1.0
1         0.0         0.0         0.0         0.0         0.0         1.0
2         1.0         0.0         0.0         0.0         0.0         0.0
3         0.0         0.0         0.0         0.0         0.0         1.0
4         0.0         0.0         0.0         0.0         0.0         1.0

   Column 2_f  Column 2_g  Column 2_s  Column 2_y  ...  Column 21_n  \
0         0.0         0.0         1.0         0.0  ...          NaN
1         0.0         0.0         1.0         0.0  ...          NaN
2         0.0         0.0         1.0         0.0  ...          NaN
3         0.0         0.0         0.0         1.0  ...          NaN
4         0.0         0.0         1.0         0.0  ...          NaN

   Column 21_s  Column 21_v  Column 21_y  Column 22_d  Column 22_g  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          0.0          1.0
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Column 22_l  Column 22_m  Column 22_p  Column 22_u
0          NaN          NaN          NaN          NaN
1          0.0          0.0          0.0          0.0
2          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN

[5 rows x 98 columns]

In [17]:
imputer = md.Midas(layer_structure = [22,22+24,22+24+24,22+24+24+24,22+24+24,22+24,22], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 4, 8, 2, 7, 2, 2, 2, 9, 2, 4, 4, 4, 7, 7, 1, 2, 3, 4, 6, 6, 6]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 21.133455490524117
Epoch: 1 , loss: 16.665098688819192
Epoch: 2 , loss: 16.125402388247576
Epoch: 3 , loss: 15.873594598336654
Epoch: 4 , loss: 15.608171660791744
Epoch: 5 , loss: 15.474460569295017
Epoch: 6 , loss: 15.34013364531777
Epoch: 7 , loss: 15.274619541384958
Epoch: 8 , loss: 15.155957538973201
Epoch: 9 , loss: 15.053261147304015
Epoch: 10 , loss: 14.966280820694836
Epoch: 11 , loss: 14.884406856515191
Epoch: 12 , loss: 14.831294295462696
Epoch: 13 , loss: 14.736598879098892
Epoch: 14 , loss: 14.701382252303036
Epoch: 15 , loss: 14.632013575597243
Epoch: 16 , loss: 14.56336736408147
Epoch: 17 , loss: 14.46077212691307
Epoch: 18 , loss: 14.465992293574594
Epoch: 19 , loss: 14.411706401543183
Epoch: 20 , loss: 14.332328086549586
Epoch: 21 , loss: 14.335463480515914
Epoch: 22 , loss: 14.273987171324817
Epoch: 23 , loss: 14.249988851222126
Epoch: 24 , loss: 14.205754897811197
Epoch: 25 , loss: 14.237938507036729
Epoch: 26 , loss: 14.187200605869293
Epoch: 27 , loss: 14.193761056119746
Epoch: 28 , loss: 14.072000693191182
Epoch: 29 , loss: 14.100124724886633
Epoch: 30 , loss: 14.083192072131418
Epoch: 31 , loss: 14.040303046053106
Epoch: 32 , loss: 13.970596007325433
Epoch: 33 , loss: 13.945236948403446
Epoch: 34 , loss: 13.865597185763447
Epoch: 35 , loss: 13.85410224036737
Epoch: 36 , loss: 13.774089214476673
Epoch: 37 , loss: 13.71490230885419
Epoch: 38 , loss: 13.611849210479043
Epoch: 39 , loss: 13.534365022724325
Epoch: 40 , loss: 13.49034389040687
Epoch: 41 , loss: 13.47000060298226
Epoch: 42 , loss: 13.404353951865977
Epoch: 43 , loss: 13.381309032440186
Epoch: 44 , loss: 13.412197029048746
Epoch: 45 , loss: 13.287134506485678
Epoch: 46 , loss: 13.233273321932012
Epoch: 47 , loss: 13.21486227891662
Epoch: 48 , loss: 13.216654785654761
Epoch: 49 , loss: 13.187434337355874
Epoch: 50 , loss: 13.198005532676524
Epoch: 51 , loss: 13.131012653762644
Epoch: 52 , loss: 13.100257700139826
Epoch: 53 , loss: 13.090775102376938
Epoch: 54 , loss: 13.070473299785094
Epoch: 55 , loss: 13.111975515430624
Epoch: 56 , loss: 13.073937050320886
Epoch: 57 , loss: 13.046687519008463
Epoch: 58 , loss: 13.084085778756576
Epoch: 59 , loss: 13.022998297756368
Epoch: 60 , loss: 13.040513732216574
Epoch: 61 , loss: 13.048674632202495
Epoch: 62 , loss: 13.059763103723526
Epoch: 63 , loss: 13.052198374813253
Epoch: 64 , loss: 13.023176117376847
Epoch: 65 , loss: 13.003340726548975
Epoch: 66 , loss: 12.988724294033917
Epoch: 67 , loss: 12.988471153107556
Epoch: 68 , loss: 12.985039033673026
Epoch: 69 , loss: 12.958222367546774
Epoch: 70 , loss: 12.956539034843445
Epoch: 71 , loss: 13.009995847940445
Epoch: 72 , loss: 13.001044872132214
Epoch: 73 , loss: 12.961501525207
Epoch: 74 , loss: 12.981424616141753
Epoch: 75 , loss: 12.957088871435685
Epoch: 76 , loss: 12.966132169420069
Epoch: 77 , loss: 12.948958984830163
Epoch: 78 , loss: 12.985082536935806
Epoch: 79 , loss: 12.93173316933892
Epoch: 80 , loss: 12.987146144563502
Epoch: 81 , loss: 12.897310920737006
Epoch: 82 , loss: 12.948927388949828
Epoch: 83 , loss: 12.968109000812877
Epoch: 84 , loss: 12.923477040095763
Epoch: 85 , loss: 12.89297884160822
Epoch: 86 , loss: 12.824787036939101
Epoch: 87 , loss: 12.77968095107512
Epoch: 88 , loss: 12.787298411130905
Epoch: 89 , loss: 12.651320603760807
Epoch: 90 , loss: 12.716783195734024
Epoch: 91 , loss: 12.631978062066166
Epoch: 92 , loss: 12.659661168401891
Epoch: 93 , loss: 12.667830990119414
Epoch: 94 , loss: 12.622859635136344
Epoch: 95 , loss: 12.617284297943115
Epoch: 96 , loss: 12.662453962997956
Epoch: 97 , loss: 12.579987474463202
Epoch: 98 , loss: 12.60619024119594
Epoch: 99 , loss: 12.544577445496213
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [18]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [19]:
np.shape(imputations[-1])

(5644, 98)

In [20]:
new_df=imputations[-1]

In [21]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\MUSH.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,m,f,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [22]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [23]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [24]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,Column 1_x,Column 2_s,Column 3_n,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_n,Column 9_k,Column 10_t,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_v,Column 22_d
1,Column 1_x,Column 2_s,Column 3_y,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_h,Column 21_v,Column 22_g
2,Column 1_b,Column 2_s,Column 3_w,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_n,Column 10_t,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_v,Column 22_d
3,Column 1_x,Column 2_y,Column 3_w,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_n,Column 9_n,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_k,Column 21_v,Column 22_g
4,Column 1_x,Column 2_s,Column 3_g,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_k,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_o,Column 19_p,Column 20_n,Column 21_v,Column 22_g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,Column 1_b,Column 2_y,Column 3_n,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5640,Column 1_x,Column 2_y,Column 3_n,Column 4_f,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_y,Column 14_n,Column 15_n,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5641,Column 1_x,Column 2_y,Column 3_g,Column 4_t,Column 5_n,Column 6_f,Column 7_c,Column 8_b,Column 9_w,Column 10_e,...,Column 13_s,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_t,Column 19_p,Column 20_w,Column 21_y,Column 22_p
5642,Column 1_x,Column 2_y,Column 3_c,Column 4_f,Column 5_f,Column 6_f,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_y,Column 14_w,Column 15_w,Column 16_p,Column 17_w,Column 18_n,Column 19_l,Column 20_h,Column 21_v,Column 22_g
5643,Column 1_f,Column 2_y,Column 3_c,Column 4_f,Column 5_m,Column 6_a,Column 7_c,Column 8_b,Column 9_y,Column 10_e,...,Column 13_y,Column 14_c,Column 15_c,Column 16_p,Column 17_w,Column 18_n,Column 19_n,Column 20_w,Column 21_c,Column 22_d

In [25]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22'],
      dtype='object')

In [26]:
def replace_column_values(dataframe):
    
    for col_name in dataframe.columns:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [27]:
mod_df=replace_column_values(new_df)
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,n,f,c,n,k,t,...,s,w,w,p,w,o,p,k,v,d
1,x,s,y,f,n,f,c,b,k,e,...,s,w,w,p,w,o,p,h,v,g
2,b,s,w,t,n,f,c,b,n,t,...,s,w,w,p,w,o,p,k,v,d
3,x,y,w,t,n,f,c,n,n,e,...,s,w,w,p,w,o,p,k,v,g
4,x,s,g,f,n,f,c,b,k,e,...,s,w,w,p,w,o,p,n,v,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,f,f,c,b,y,e,...,y,w,w,p,w,n,l,h,v,g
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [28]:
mod_df.dtypes

Column 1     object
Column 2     object
Column 3     object
Column 4     object
Column 5     object
Column 6     object
Column 7     object
Column 8     object
Column 9     object
Column 10    object
Column 11    object
Column 12    object
Column 13    object
Column 14    object
Column 15    object
Column 16    object
Column 17    object
Column 18    object
Column 19    object
Column 20    object
Column 21    object
Column 22    object
dtype: object

calculating AE

In [29]:
copy_est_df=mod_df.astype('string')

In [30]:
m=copy_est_df.astype('string')
m

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22
0,x,s,n,t,n,f,c,n,k,t,...,s,w,w,p,w,o,p,k,v,d
1,x,s,y,f,n,f,c,b,k,e,...,s,w,w,p,w,o,p,h,v,g
2,b,s,w,t,n,f,c,b,n,t,...,s,w,w,p,w,o,p,k,v,d
3,x,y,w,t,n,f,c,n,n,e,...,s,w,w,p,w,o,p,k,v,g
4,x,s,g,f,n,f,c,b,k,e,...,s,w,w,p,w,o,p,n,v,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,b,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5640,x,y,n,f,n,f,c,b,w,e,...,y,n,n,p,w,t,p,w,y,p
5641,x,y,g,t,n,f,c,b,w,e,...,s,w,w,p,w,t,p,w,y,p
5642,x,y,c,f,f,f,c,b,y,e,...,y,w,w,p,w,n,l,h,v,g
5643,f,y,c,f,m,a,c,b,y,e,...,y,c,c,p,w,n,n,w,c,d

In [31]:
# I function
def I_function(copy_est_df,original_df):
    for col_name in copy_est_df.columns:
        #copy_est_df[col_name] = copy_est_df[col_name].astype('string')
        #original_df[col_name] = original_df[col_name].astype('string')
        est_data_list=copy_est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        copy_est_df[col_name]=est_data_list
    return(copy_est_df.astype('int64'))

In [32]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [33]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(copy_est_df,original_df)
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(5644*22)
    return(ae)

In [34]:
AE(copy_est_df,complete_df)

0.07654951356227047

In [36]:
mod_df.to_excel("MUSH_AN_20(imp).xlsx", index=False,header=False)